body {
    background-image: url('imagenes/Fondo.jpg');
    background-size: cover;
}

.titulo{
    width: 60%;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding:3px;
    margin:3px;
}