

.rectangulo {
  top: 15%;
  left: 23%;
  position: absolute;
  display: flex;
  flex-direction: column;    
  justify-content: space-around;
  background-color: rgb(255, 255, 255); 
  padding: 50px;
  border:#000000 solid 1px; 
  border-radius: 10px;
  margin-top: 40px;
  max-width: 800px;
  margin: 120px;
  color: #000000;
}
.torneoInfo{
  align-items: center;
  font-size: 17px;
  font-family: 'Roboto', Arial, ;
  font-weight: 500;
}

.buscador-torneo {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%;
}

.buscador-torneo input {
  padding: 4px;
  border: 1px solid #ccc; 
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  width: 100%;
  margin-top: 20px;
}

.buscador-torneo button {
  padding: 9px 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border-color: #000000 ;
  cursor: pointer;
  margin-top: 16px;
}


