

.g{
    width: 30px;
    height: 30px;
    background-color: rgb(2, 250, 2);
    border: 1px solid white;
    border-radius: 30px;
}

.e{
    width: 30px;
    height: 30px;
    background-color: rgb(104, 104, 103);
    border: 1px solid white;
    border-radius: 30px;
}

.p{
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px solid white;
    border-radius: 30px;
}

.tabla {
    border: 1.5px solid black;
    border-radius: 8px;
    background-color: white;
    width: 60%;
    border-collapse: collapse;      
    margin: 10px auto;
    text-align: center;
    font-family: Arial, sans-serif; 
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12); 
  
    }
    tr {
      border: 1px solid rgba(0,0,0,0.12);
      padding: 5px;
    }
    .efecto {
      cursor: pointer;
      transition: background 0.3s;
    }
    th {
        color:rgb(255, 255, 255);
        background-color: rgb(120, 120, 120);
    }

    .efecto:hover {
      background-color: green;
      color: black;
    }

    .posicion{
      background-color:rgb(120, 120, 120);
    }

    .t{
      background: red;
      border-radius: 8px;
    }

    .enfre{
      text-align: center;
    }

    .bottones-tabla{
      position: center;
    }
    .botton{
    display: flex;
    justify-content: center;
    gap: 10px;
    } 

    .bottones{
    background: white;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    }

    .bottones:hover{
    background: white;
    transform: scale(1.1); 
    }

    .filtro{
    margin:10px;
    margin-left: 350px;
    background: white;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    }

    .filtro:hover{
    background: white;
    transform: scale(1.1); 
    }

